<%- include('../shared/header.ejs') %>

    <main>
      <h2><a href="/toPDF/<%= table %>/<%= id %>"><%= name %></a></h2>
      <!-- <img alt="image of <%= name %>"> -->
      <%_ if (ability !== '') { _%>
        <h4><%= name %> Description:</h4>
        <p><%= descrip %></p>
      <%_ } _%>
      <h4><%= name %> Information:</h4>
      <p><%= info %></p>
        <%_ if (ability !== '') { _%>
          <h4>Ability: <a href="/view/ability/<%= ability.id %>"><%= ability.name %></a></h4>
          <p><%= ability.info %></p>
        <%_ } _%>
    </main>
  </body>
</html>